#app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: pink;
  margin: auto auto;
  width: fit-content;
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}
